* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul > li {
  list-style: none;
}
nav > ul {
  display: flex;
  flex-direction: column;
}

nav {
  padding: 2rem;
}

main {
  padding: 2rem;
}

.guitar_card {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: rgb(227, 227, 227);
}

.guitar_card > img {
  height: 10rem;
}
